
.about {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    padding: 20px;
    color: #555;
    font-size: 18px;
    /* line-height: 23px; */
}


section {
    width: 100%;
    height: 100%;
    background-image: url('./assets/image/group265.png');
    background-position: right;
    /* background-repeat: no-repeat; */
    background-repeat: repeat-y;
    background-size: 40%;
    
}


section h4 {
    color: #333;
    font-size: 21px;
    margin-right: 10px;
} 
.centerimage {
    height: 450px;
    padding-right: 0;
    padding-left: 0;
    background: url('assets/image/header.png') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerimage h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

/* media start */
/* col-xl */ @media(min-width: 1200px){}
/* col-lg */ @media(min-width: 992px) and (max-width:1199px){}
/* col-md */ @media(min-width: 768px) and (max-width:991px){
    .about p {
        font-size: 16px;
    }
}
/* col-sm */ @media(min-width: 576px) and (max-width:767px){
    .about p {
        font-size: 13px;
    }
}
/* col */ @media(max-width: 575px){
    .about p {
        font-size: 13px;
    }
}
/* media end */
