@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@media (min-width: 1540px){
    .container{
        max-width: 1536px;
    }
}

@media (min-width: 1690px){
    .container{
        max-width: 1636px;
    }
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

body {
    background-color: #F9F9F9;

}

.navbar-brand {
    column-gap: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #444444;
}
.dropdown-toggle::after {
    display: none;
}

#navbarSupportedContent{
    column-gap: 20px;
}
#navbarSupportedContent a{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #444444;
}

    #navbarSupportedContent .iconify{
        font-size: 22px;
        color: #42BC18;
    }
    .nav_line{
        height: 22px;
        width: 1px;
        background-color: #42BC18;
    }

    #headerSelectLang {
    background-color: white;
    color: green;
    border: 0px  #4CAF50;
    }

    #headerButton {
    background-color: #42BC18;
    }

    #headNavbar a{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        letter-spacing: 0.01em;

        color: #555555;
        transition: 0.3s;
    }
    #headNavbar a.active{
        color: #42BC18;
    }
    #headNavbar a:hover{
        color: #42BC18;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex;
      }

      .searchTerm {
        width: 100%;
        border: 1px solid #42BC18;
        border-right: none;
        padding: 5px;
        height: 40x;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
      }

      .searchTerm:focus{
        color: #42BC18;
      }

      .searchButton {
        width: 40px;
        height:40px;
        border: 1px solid #42BC18;
        background: #42BC18;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }








main .title h2, .title h2 {
    font-size: 48px;
    font-weight: 700;
    color:  #40B019;
}

main .title p {
    width: 20%;
    height: 2px;
    background-color: #20A02F;
    margin: 15px auto;
}

main .p1 {
    font-size: 24px;
    font-weight: 500;
    color: #444;
    margin-bottom: 50px;
}
.bock {
    text-align: center;
}
.bock .round {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 15px solid #40B019;
    border-radius: 50%;
    background-color: #fff;
    color: #40B019;
    font-size: 41px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .box {
    width: 100%;
    height: 100%;
    padding: 18px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;


}
main .box button {
    padding: 17px 45px;
    background: #40B019;
    border-radius: 20px;
    Opacity: 75%;
    border: none;
    position: relative;
    top: -50px;
    font-size: 14px;
}
main .box p {
    background-color: #fff;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    line-height: 20px;
}


/* low */


.low {
    width: 100%;
    height: 220px;
    border: 1px solid #F5F5F5;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 11px 18px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.low  p{
    line-height: 20px;
}
.low a{
    margin-bottom: 5px;
    color: #42BC18;
    display: block;
}

.low .btn{
    background-color: #42BC18;
    color: #FFFFFF;
    padding: 2px 8px;
}

.low .img{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/* markazning asosiy vazifalari start */
.comp{
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 11px 18px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
}

.comp p{
    font-size: 14px;
    line-height: 18px;
}

.comp .btn{
position: absolute;
right: 0;
bottom: 0;
background-color: #42BC18;
color: #FFFFFF;
font-size: 37px;
border-top-left-radius: 286px;
border-bottom-right-radius:  5px;
padding: 0 30px;
}
/* markazning asosiy vazifalari end*/



/* Foter start */
.footer{
    width: 100%;
    background-color: #1C1C1C;
    padding-top: 20px;
}
.footer .dsf p{
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
}
.footer .dsf{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF
}
.footer .dtf{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: #42BC18 solid;
}

.footer .dtf p{
    display: block;
}


.footer p{
    color: #FFFFFF ;
    font-size: 16px;
}

.footer ul {
    color: #FFFFFF;
    padding-left: 0;
    list-style: none;
}

.footer ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

.foter_end {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-top: 10px;
}

/* Foter end */

     /* media start */
/* col-xl */ @media(min-width: 1200px){}
/* col-lg */ @media(min-width: 992px) and (max-width:1199px){}
/* col-md */ @media(min-width: 768px) and (max-width:991px){
    .bock .round {
        width: 90px;
        height: 90px;
    }
}
/* col-sm */ @media(min-width: 576px) and (max-width:767px){
    main .title h2, .title h2 {
        font-size: 25px;
    }
    .nlink{
        margin: 20px 0!important;
        width: 100% !important;
        display: block;
    }
    main  .p1{
        font-size: 20px;
    }
    .bock .round {
        width: 90px;
        height: 90px;
    }
}
/* col */ @media(max-width: 575px){
    main .title h2, .title h2 {
        font-size: 22px;
    }
    main  .p1{
        font-size: 15px;
    }
    .low{
        height: 330px;
    }
    .bock .round {
        width: 90px;
        height: 90px;
    }
}
#mainClock{
    color:#40B019;
    font-family: Montserrat;
    font-weight: 700;
}
/* media end */




/*     middle     */

.middle_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts {
    background: #fff;
    width: 284px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 20px;
    padding: 10px;
}

.contacts h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
}
.contacts h4 {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 10px;
    padding: 0;
}
.call_number {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.call_number p {
    margin: 0;
}





@media (max-width:1024px) {
    .certificates {
        display: flex;
        flex-direction: row;
    }
    .header_container {
        justify-content: center;
        text-align: center;
    }
    .header_container h2 {
        font-size: 45px;
    }
    .header_container h1 {
        color: #fff;
        font-style: bold;
        font-size: 48px;
        justify-content: center;
    }
    .middle_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contacts_container {
        display: flex;
        flex-direction: row;
    }
}
.middle_container {
    display: flex;
    flex-direction: row;

}
@media (max-width:768px) {

    .middle_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header_container {
        justify-content: center;
        text-align: center;
    }
    .header_container h2 {
        font-size: 30px;
    }
    .header_container h1 {
        font-size: 34px;
        justify-content: center;
    }
    .header__nav h4 {
        padding: 5px 15px;
    }


}
@media only screen and (max-width: 600px) {
    .nlink{
        margin: 20px 0!important;
        width: 100% !important;

    }
}
@media screen and (max-width: 425px) {

    .contacts_container {
        display: flex;
        flex-direction: column;
    }
    .header_container h4 {
        font-size: 14px;
    }
    .certificates {
        display: flex;
        align-items: center;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_contacts {
        margin: 10px 0;
    }

}

.header_container button {
    width: 139px;
    height: 46px;
    background: #40B019;
    border-radius: 5px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    margin-top: 35px;
}

.contacts {
    background: #fff;
    width: 284px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 20px;
    padding: 10px;
}
.contacts h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
}
.contacts h4 {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 10px;
    padding: 0;
}

.call_number {
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.call_number p {
    margin: 0;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.email img {
    padding-right: 5px;
}
.email p {
    margin: 0;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.slider_content {
    width: 284px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin: 25px 20px;
}

.slider_content h3 {
    font-size: 18px;
    line-height: 22px;
}
.slider_content p {
    font-weight: 500;
    font-size: 18px;
    color: #40B019;
}
.services {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.services h3 {
    padding: 10px;
}
.services_container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
}
.service_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 10px;
}
.service p {
    margin-top: 10px;
}
.certificates_container {
    margin: 20px;
}
.certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certificates img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width:980px) {
    .contacts_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width:600px) {
    .contacts_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service p {
        width: 250px;
    }
}
@media (max-width:350px) {
    .service p {
        max-width: 200px;
    }
}

.line {
    border: 1px solid rgba(196, 196, 196, 0.5);
    width: 192px;
    margin-bottom: 10px;
}




.soz {
    font-size: 18px;
    color: #0C6666;
    line-height: 23px;
    font-weight: 500;
}

@media screen and (max-width: 1024px){
  .soz{
    margin-left: auto;
    margin-right: auto;
  }
}

select {
    border: none;
    color: #0C6666;
    margin: 0 10px;
}

.nav_custom input {
    background: rgba(241, 241, 241, 0.31);
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav_custom button {
    padding: 5px 15px;
    background: #42BC18;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.nav-item {
    margin: 0 10px;
    text-decoration: none;
    border-right: 1px solid #42BC18;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.nav-item a {
    text-decoration: none;
    color: #444444;
}
.nav-item a img {
    padding-right: 5px;
}
.nav_contacts {
    display: flex;
    flex-direction: row;
}

.nav_search {
    display: flex;
    flex-direction: row;
}

.header__menu {
    border-bottom: 1px solid #E5E5E5;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 0;
}
.header__nav h4 {
    margin: 0;
}
.navbar-nav {
    font-size: 13px;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 943px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_contacts {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 558px) {
    .nav_contacts {
        display: flex;
        flex-direction: column;
    }
    .nav_contacts .nav-item {
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 435px) {
    .nav_search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_search li {
        margin-bottom: 8px;
    }
}
